.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 19%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(25px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}


.form__title {
  font-family: Play;
  font-size: rem(16px);
  color: #fff;
}

.form__controls-general {
  margin-top: rem(30px);
}

.form__row {
  display: flex;
  margin-bottom: rem(18px);

  &:last-child {
    margin-bottom: 0;
  }
}

.row-comment {
  @include tablets {
    margin-top: rem (13px);
  }

  @include phones {
    margin-top: rem (13px);
  }
}

.form__block {
  flex: 1;
  margin-right: rem(16px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  padding: rem(18px) rem(11px);
  border: solid rem(3px) transparent;

  @include tablets {
    height: rem(58px);
  }

  @include phones {
    height: rem(36px);
  }

  &--textarea {
    height: rem(155px);
    resize: none;

    
    @include phones {
      height: rem(82px);
    }

  }

  &:focus {
    border-color: #E01F3D;
    outline: none;
  }
}

.form__input.input-error {
  border-color: hotpink;
}

.radio__title {
  color: #fff;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(18px);

  @include phones {
    justify-content: center;;
  }

}

.form__btns {
  display: flex;
  justify-content: center;

  @include phones {
    margin-top: rem(30px);
  }
}
