.overlay__js {
  position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	visibility: hidden;
	opacity: 100;
	transition: opacity .4s, visibility .4s;
}

.overlay__js-error {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	visibility: hidden;
	opacity: 0;
	transition: opacity .4s, visibility .4s;

}

.overlay__js.open {
	visibility: visible;
	opacity: 1;
}

.popup {
  position: absolute;
	width: 309px;
	height: 176px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	background-color: #FFF;
  align-items: center;
  text-align: center;
}

.popup__error {
	position: absolute;
	width: 309px;
	height: 176px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	background-color: #FFF;
  align-items: center;
  text-align: center;
}

.popup__text {
  display: flex;
  font-size: 18px;
  text-align: center;
  align-items: center;

}

.popup__text:last-child {
	margin-right: 0;
}

.popup__text-error {
	display: flex;
  font-size: 18px;
  text-align: center;
  align-items: center;
}

.popup__text-error:last-child {
	margin-right: 0;
}
